* {
	margin: 0;
	padding: 0;
	color: gray;
	background-color: lightgrey;
}

html,
body {
	font-size: 10px;
}


.container {
	font-size: 2rem;
	margin: 3rem auto;
	width: 30rem;
	border: 2px solid gray;
	padding: 2rem;
	text-align: center;
}

.container p {
	padding: 1rem;
}